<div class="container">

    <h2>Find Your Account</h2>

    <br>
    <h4>Please enter your email or phone number to search for your account.</h4>
    <input type="text" class="form-control" id="Email" placeholder="User ID" ng-model="email_id"><br>

    <span style="color:green">{{message}}</span>

    <br><br>

    <a ng-show="valid_id < 1" type="button"  class="btn btn-primary" ng-click="checkId()">Submit</a>
    <a ng-show="valid_id > 0" type="button"  class="btn btn-primary" href="#/login">Back</a>

</div>