<div class="container">
    <div class="login">
        <div class="form-group">
            <h2>Welcome! Please Login below</h2><br>
            <form ng-submit="login()">
                <input type="text" class="form-control" id="username" placeholder="Please enter your username" ng-model="loginForm.userName"><br>
                <input type="password" class="form-control" id="password" placeholder="Please enter your password" ng-model="loginForm.password"><br>
                <input type="radio" id="checkAdmin" ng-model="loginForm.checkAdmin" value="1">  Are you an admin?  <br><br>
                <a href="#/forgetPassword">Forgot Password?</a><br>
                <a href="#/registration">New User? Sign Up here</a>
                <br>
                <br>
                <input type="submit"  class="btn btn-primary" placeholder="Login">
                <a  type="button"  class="btn btn-primary" href="#/home">Login</a>
                {{loginMessage}}
            </form>
        </div>
    </div>
</div>